.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: bold;
}
.highlight {
    background-clip: text -webkit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    border-bottom: 3px solid #726bff;
}
.button>a{
    display: inline-block;
    padding: 12px 30px;
    margin: 0 10px 30px 10px;
    border-radius: 30px;
    font-weight: 600;
    transition: transform 0.3s ease;
}
.button>a:hover{
    transform: translateY(-3px);
}